---




---
<html lang="en">
  <head>
    
    <title>MiniWebsite</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-gray-100">
    <p>Hello welcome to Miniwebsite</p>
  </body>