---

import { login } from "../utils/auth";


// const handleSubmit = (e) => {
//   e.preventDefault();
//   const email = e.target.email.value;
//   const password = e.target.password.value;

//   if (login(email, password)) {
//     window.location.href = "/home";
//   } else {
//     alert("Invalid credentials. Try again.");
//   }
// };
---


  <div class="flex justify-center w-1/2 mt-32  px-16 ">
    <form
  class="bg-white shadow-md rounded-2xl px-8 pt-6 pb-2 mb-2 w-fit h-96"
>
  <h2 class="text-2xl font-bold mb-6 text-center">Welcome!</h2>
  <div class="relative mt-4">
    <input
      id="email"
      name="email"
      type="email"
      required
      class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-3xl border border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder="@gmail.com " />
    <label for="email" class="absolute text-sm text-gray-500  duration-300 transform-translate scale-75 top-2 z-10 origin-[0] bg-white  px-2  text-black-600  
    peer-placeholder  -translate-y-4 ">
      Email
    </label>
    <div class="relative mt-4">
    <input
      id="password"
      name="password"
      type="password"
      required
      class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-3xl border border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder="Enter your password"
    />
    <label for="password" class="absolute text-sm text-gray-500  duration-300 transform-translate scale-75 top-2 z-10 origin-[0] bg-white  px-2  text-black-600  
    peer-placeholder  -translate-y-4 ">
      Password
    </label>  
  </div>
  <div class="flex items-center justify-between mt-4">
    <button
      type="submit"
      class="bg-orange-500 hover:bg-orange-700 text-white font-bold pb-2.5 pt-4 px-32
       rounded-3xl focus:outline-none focus:shadow-outline"
    >
      Login
    </button>
  </div>
</form>
  </div>



