---


import AuthGuard from "../components/auth/AuthGuard.astro";
import Header from "../components/header.astro";


---


	
		<Header />
		
		<div class="flex pt-16 overflow-hidden bg-gray-50 h-dvh ">
			<div
				id="main-content"
				class="relative w-full h-full  bg-gray-50  "
			>
		<slot />
			</div>
		</div>

	
	

